<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>接口测试报告</title>
    <link rel="stylesheet" type="text/css" href="/static/css/pub/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/pub/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pub/bootstrap-treeview.css">

    <script src="/static/js/pub/jquery-3.3.1.js"></script>
    <script src="/static/js/pub/bootstrap.js"></script>
    <script src="/static/js/pub/bootstrap-treeview.js"></script>

    <style>
        .wrap {
            width: 90%;
            margin: auto;
            margin-bottom: 100px;
            height:100%;
        }
        /*导航部分*/
        .header_nav{
            width: 100%;
            height: 80px;
            text-align: center;
            background-color: #f1f5fb;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            /*#ffcfc4*/
        }
        .header_nav h2{
            line-height: 80px;
            margin: 0;
        }
        #report_choose{
            margin-top: 23px;
        }
        .tree{
            max-height: 600px;
            overflow-y: scroll;
        }
        .box h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        .limit{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            margin: 0;
        }
        #report_html{
            height: 800px;
            overflow-y: auto;
        }
        .data_detail_box{
            height: 800px;
        }
        textarea{
            width: 100% !important;
            height: 500px !important;
            font-weight: bold;
        }
        .detail{
            text-align: left;
            overflow: hidden;
        }
        #statistics{
            margin: 30px auto;
        }
        .badge{
            background-color: red !important;
        }
        #asserts th{
            width: auto;
            max-width: 400px;
        }
        #asserts td{
            width: auto;
            min-width: 80px;
            max-width: 300px;
            overflow: auto;
        }
        #asserts td div{
            max-height: 40px;
            width: inherit;
        }
        #asserts td div span{
            width: inherit;
        }

    </style>
</head>

<body>
    <div class="wrap">
        <div class="header_nav">
            <div class="report_choose_div col-sm-3">
                <select id="report_choose" class="form-control">
                    <option>清选择测试报告</option>
                </select>
            </div>
            <div class="tiele col-sm-6">
                <h2 id="title"></h2>
            </div>
            <div class="Login col-sm-3">
                <div style="line-height: 27px">执行人：<span id="tester"></span></div>
                <div style="line-height: 27px">执行时间：<span id="report_c_date"></span></div>
                <div style="line-height: 27px">域名：<span id="host"></span></div>
            </div>
        </div>
        <div class="main">
            <div id="statistics" style="text-align: center"></div>
            <hr>
            <div class="col-sm-3 tree">
                <div id="treeview" class="treeview"></div>
            </div>
            <div class="data_detail_box col-sm-9">
                <div class="detail">
                    <div class="api_info" style="text-align: center">
                        <h3 style="margin-top: 0">
                            <label class="label-info" id="method"></label>
                            <span id="api_title"></span><br>
                            <h4 id="api_desc"></h4>
                        </h3>
                        <h4 id="case_statistics">
                            <span id="case_all_count"></span>个用例，通过:
                            <span id="case_ok_count"></span>，失败:
                            <span id="case_bad_count"></span>，最终结果:
                            <span id="case_flag" style="color:red"></span>
                        </h4>
                    </div>
                    <hr>

                    <div class="case_info">
                        <h3>
                            <b><span id="case_url"></span></b><br>
                            <b><span id="case_title"></span></b><br>
                            <span id="case_desc"></span><br>
                        </h3>
                    </div>

                    <table id="asserts" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>断言键</th>
                            <th>期望结果</th>
                            <th>断言方式</th>
                            <th>实际结果</th>
                            <th>验证结果</th>
                            <th>错误信息</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <table id="params1" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th width="">请求参数</th>
                            <th width="">响应体
                                <label class="label-info" id="status"></label>&nbsp;&nbsp;
                                <label class="label-info" id="res_time"></label>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><textarea id="params" class="form-control"></textarea></td>
                            <td><textarea id="res_body" class="form-control"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="params3" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th width="">当前全局变量</th>
                            <th width="">前置操作</th>
                            <th width="">响应设置全局变量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><textarea id="c_case_env_params" class="form-control"></textarea></td>
                            <td><textarea id="prefix" class="form-control"></textarea></td>
                            <td><textarea id="rsgv" class="form-control"></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="params2" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th width="">请求头</th>
                            <th width="">响应头</th>
                            <th width="">cookies</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><textarea id="headers" class="form-control"></textarea></td>
                            <td><textarea id="res_headers" class="form-control"></textarea></td>
                            <td><textarea id="cookies" class="form-control"></textarea></td>
                        </tr>
                        </tbody>
                    </table>


            </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        String.prototype.format = function (args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if (args[key] != undefined) {
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                        else{
                            args[key] = "";
                            var reg = new RegExp("({)" + key + "(})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            //var reg = new RegExp("({[" + i + "]})", "g");//这个在索引大于9时会有问题，谢谢何以笙箫的指出
                            var reg = new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                        else{
                            arguments[i] = "";
                            var reg = new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
        };

        // 获取最后五十条报告信息
        var get_all_report = function () {
            $.get("get_all_report", function (data) {
                jsonData = $.parseJSON(data);
                $.each(jsonData, function (index, item) {
                    $("#report_choose").append("<option value='" + item.id + "'>" + item.title + "</option>")
                });
            });
        };

        // 选择报告进入新的页面
        $("#report_choose").change(function () {
           id = $(this).val();
           if(id){
               window.location.href = "./"+id;
           }
        });


        // 返回的测试报告数据
        var report_data;
        // 获取某条测试报告
        var get_report_data = function () {

            url = window.location.href;
            url = url + "_data";
            // 加载表格中的数据
            $.get(url, function (data) {
                report_data = $.parseJSON(data);
                // 先判断是否成功获取报告数据
                if (report_data.ret){
                    set_tree(report_data.report_tree);
                    set_statistics_info()
                }
                else{
                    alert(jsonData.erro_msg);
                }
            });
        };

        var set_tree = function(tree_data){
            $('#treeview').treeview({
                // enableLinks:true,
                // tree节点的字体颜色
                    color: "#428bca",
                // tree节点左侧的展开图标，折叠的图标，节点的图标
                //	expandIcon: "glyphicon glyphicon-stop",
                //	collapseIcon: "glyphicon glyphicon-unchecked",
                //	nodeIcon: "glyphicon glyphicon-user",
                // 是否显示标签
                    showTags: true,
                // tree中的数据
                    data: tree_data,
                // 这里设置tree的展开层级l
                    levels:2,
                // tree 的节点背景颜色
                //  backColor:'aqua',
                onNodeSelected:function(event, data) {
                    text = $(data.text);
                    if (text.hasClass("case")){
                        report_detail_id = text.attr("value");
                        if (report_detail_id){
                            get_case_data(report_detail_id)
                        }
                    }
                }
            });
        };

        var get_case_data = function (report_detail_id) {

            url = "/interface/report/get_report_detail?report_detail_id=" + report_detail_id;
            // 加载表格中的数据
            $.get(url, function (data) {
                data = $.parseJSON(data);
                // 先判断是否成功获取报告数据
                if (data.ret){
                    set_case_data($.parseJSON(data.case_info), report_detail_id);
                }
                else{
                    alert(jsonData.erro_msg);
                }
            });
        };

        var set_statistics_info = function () {
            $("#tester").html(report_data.tester);
            $("#report_c_date").html(report_data.c_date);
            $("#host").html(report_data.report.host);
            $("#title").html(report_data.title);
            statistics_item = report_data.report.statistics_item;
            statistics_html = "<h3><b>本此总共测试{0}个接口，通过：{1}个, 失败：<span style='color:red'>{2}</span>个</h3></b><br>".format(
            statistics_item.count, statistics_item.success, statistics_item.fail);
            $("#statistics").append(statistics_html);
        };

        var set_case_data = function (case_info, report_detail_id) {
            // 每次加载清空断言信息
            $("#asserts").find("tbody").html("");
            $("#status").html(case_info.r_data.status_code);
            $("#case_title").html(case_info.title);
            $("#case_desc").html(case_info.desc);
            $("#case_url").html(case_info.url);
            $("#res_time").html(case_info.r_data.time);
            $("#params").html(case_info.params);
            $("#res_body").html(case_info.r_data.res_body);
            $("#prefix").html(case_info.r_data.prefix);
            $("#rsgv").html(case_info.r_data.rsgv);
            $("#c_case_env_params").html(case_info.r_data.c_case_env_params);
            $("#headers").html(case_info.headers);
            $("#res_headers").html(case_info.r_data.res_headers);
            $("#cookies").html(case_info.cookies);

            for (k in case_info.r_data.asserts) {
                assert = case_info.r_data.asserts[k];
                tr_text = '<tr style="border-color:red">' +
                    '<td><div><span id="assert_key"></span></div></td>' +
                    '<td><div id="assert_expect_value"><span></span></div></td>' +
                    '<td><div><span id="assert_method"></span></div></td>' +
                    '<td><div><span id="assert_real_value"></span></div></td>' +
                    '<td><div><span id="assert_ret"></span></div></td>' +
                    '<td><div><span id="assert_erro"></span></div></td>' +
                    '</tr>';
                tr = $(tr_text);
                tr.find("#assert_key").html(assert.assert_key);
                tr.find("#assert_expect_value").html(assert.assert_expect_value);
                tr.find("#assert_method").html(assert.assert_method);
                tr.find("#assert_real_value").html(assert.assert_real_value);
                tr.find("#assert_ret").html(assert.assert_ret);

                if (assert.assert_ret) {
                    tr.find("#assert_ret").html("验证成功");
                }
                else {
                    // tr.css({"border-color":"red"})
                    tr.find("#assert_ret").html('<span style="color:red">验证失败</span>');
                    tr.find("#assert_erro").html('<span style="color:red">' + assert.assert_erro + '</span>');
                }
                tr_html = tr.prop("outerHTML");
                $("#asserts").find("tbody").append(tr_html);
                // 添加此接口统计信息
                api_list = report_data.report.api_list;
                for(i in api_list) {
                    apiid = api_list[i].id;
                    for (j in api_list[i].case_list) {
                        case_data = api_list[i].case_list[j];
                        if (case_data.report_detail_id.toString() == report_detail_id) {

                            api = api_list[i];
                            $("#api_title").html(api.title);
                            $("#method").html(api.method);
                            $("#api_desc").html(api.desc);
                            $("#case_all_count").html(api.statistics_item.count);
                            $("#case_ok_count").html(api.statistics_item.success);
                            $("#case_bad_count").html(api.statistics_item.fail);
                            if (api.statistics_item.flag) {
                                $("#case_flag").html("通过");
                            } else {
                                $("#case_flag").html("未通过");
                            }
                            break;
                        }
                    }
                }
            };
        };


        url = window.location.href;
        list = url.split("/");
        id = parseInt(list[list.length-1]);
        if(id > 0){
            get_report_data()
        }
        get_all_report();
    });

</script>

</html>
