# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../../:\Crazy_G\Codes\Python_projects\CrazyTester\CrazyTester1.0\versions\CrazyTester_2021_1026 - git版\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
